<{{ternary static 'span' 'a'}} href="/projects/{{slug}}" class="project" color="{{card.background.color}}" pattern="{{card.background.pattern}}">

</{{ternary static 'span' 'a'}}>
{{#unless cardOnly}}
	<div class="caption">
		<span class="goal">{{goal}}</span>
		<div class="meta cleared    ">
			<a class="button owner float-left" href="/users/{{owner.slug}}">
				{{> user_card owner}}
			</a>
			<span class="category float-right">#{{category}}</span>
		</div>
	</div>
{{/unless}}