<div class="header">
	<h4>Edit Project</h4>
	<ul class="tabs" set="modal">
		<li class="active">
			<i class="fas fa-info-circle"></i>
		</li>
		<li>
			<i class="fas fa-tasks"></i>
		</li>
		<li>
			<i class="fas fa-link"></i>
		</li>
		<li>
			<i class="fas fa-paint-brush"></i>
		</li>
	</ul>
</div>
<form method="post" action="/projects/{{project.slug}}/edit">
	<section class="wrapper tabbed" set="modal">
		<div class="tab">
			<div class="cleared masthead">
				<h5 class="float-left">
					Basic Info
				</h5>
			</div>
			<div>
				<div class="size-6 cleared margin-left-0">
					<label>
						<span class="title">Project Title / Summary</span>
						<input name="goal" type="text" value="{{project.goal}}" required/>
					</label>
				</div>
				<div class="size-6 cleared margin-left-0">
					<label>
						<span class="title">Searchable Tags <em>(Comma Separated)</em></span>
						<input name="tags" type="text" value="{{join project.tags}}"/>
					</label>
				</div>
				<div class="size-3 margin-left-0">
					<label>
						<span class="title">Category</span>
						<a href="#" class="select">
							<input name="category" type="hidden" value="{{project.category}}"/>
							<div class="input"></div>
							<ul>
								<li value="Other">Other</li>
								<li value="CraftsAndCosplay">Crafts and Cosplay</li>
								<li value="CodeAndEngineering">Code and Engineering</li>
								<li value="EducationAndCareer">Education and Career</li>
								<li value="GameDev">Game Development</li>
								<li value="GamesAndStreams">Games and Streams</li>
								<li value="HealthAndFitness">Health and Fitness</li>
								<li value="Music">Music</li>
								<li value="VisualArt">Visual Art</li>
								<li value="Writing">Writing</li>
							</ul>
						</a>
					</label>
				</div>
				<div class="size-3">
					<label>
						<span class="title">Visiblity</span>
						<a href="#" class="select">
							<input name="visible" type="hidden" value="{{ternary project.visible 'true' 'false'}}"/>
							<div class="input"></div>
							<ul>
								<li value="false">Private</li>
								<li value="true">Public</li>
							</ul>
						</a>
					</label>
				</div>
			</div>
		</div>
		<div class="tab">
			<div class="cleared masthead">
				<h5 class="float-left">
					Milestone Description
				</h5>
				<ul class="tabs float-right" set="weekly-goal">
					{{#project.milestones.weekly}}
						<li {{#if @first}}class="active"{{/if}}>
							Week {{math @index '+' 1}}
						</li>
					{{/project.milestones.weekly}}
				</ul>
			</div>
			<div class="size-6 cleared margin-left-0 tabbed" set="weekly-goal">
				{{#project.milestones.weekly}}
					<label class="tab">
						<textarea name="milestones[weekly][{{@index}}]" class="markdown-editor">{{this}}</textarea>
					</label>
				{{/project.milestones.weekly}}
			</div>
		</div>
		<div class="tab">
			<div class="cleared masthead">
				<h5 class="float-left">
					External Links
				</h5>
				<span class="float-right meta">
					(You know, if applicable.)
				</span>
			</div>
			<div class="size-6 cleared margin-left-0">
				<div class="size-3 margin-left-0">
					<label>
						<span class="title">Project Website</span>
						<input name="links[website]" type="text" value="{{project.website}}"/>
					</label>
				</div>
				<div class="size-3">
					<label>
						<span class="title">Download URL</span>
						<input name="links[download]" type="text" value="{{project.download}}"/>
					</label>
				</div>
			</div>
		</div>
		<div class="tab">
			<div class="size-3">
				<label>
					<span class="title">Background Color</span>
					<a href="#" class="select">
						<input name="card[background][color]" type="hidden" value="{{project.card.background.color}}"/>
						<div class="input"></div>
						<ul>
							{{> colors_list}}
						</ul>
					</a>
				</label>
			</div>
			<div class="size-3">
				<label>
					<span class="title">Background Pattern</span>
					<a href="#" class="select">
						<input name="card[background][pattern]" type="hidden" value="{{project.card.background.pattern}}"/>
						<div class="input"></div>
						<ul>
							<li value="default">No Pattern</li>
							<li value="circles">Circles</li>
							<li value="zigzag">Zigzag</li>
						</ul>
					</a>
				</label>
			</div>
			<div class="size-3">
				<label class="margin-bottom-0">
					<span class="title">Shapes and Text</span>
				</label>
				<ul class="layerlist">
					{{#project.card.layers}}
						<li class="layer">
							<div class="size-3 margin-left-0">
								<label>
									<a href="#" class="select">
										<input name="card[layers][{{@index}}][type]" type="hidden" value="{{type}}"/>
										<div class="input"></div>
										<ul>
											<li value="none">Empty Layer</li>
											<li value="circle">Circle</li>
											<li value="diamond">Diamond</li>
											<li value="square">Square</li>
										</ul>
									</a>
								</label>
							</div>
							<div class="size-3">
								<label>
									<a href="#" class="select">
										<input name="card[layers][{{@index}}][color]" type="hidden" value="{{color}}"/>
										<div class="input"></div>
										<ul>
											{{> colors_list}}
										</ul>
									</a>
								</label>
							</div>
						</li>
					{{/project.card.layers}}
				</ul>
			</div>
			<div class="size-3">
				<div class="size-6">
					<label class="margin-bottom-0">
						<span class="title">Card Preview</span>
					</label>
					<div class="card">
						{{> project_card project}}
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="actions">
		<span class="button accent submit float-right"><i class="fas fa-check"></i> Save Changes</span>
		<span class="button transparent cancel padding-left-0 float-left">Cancel</span>
	</div>
</form>
<script src="/javascripts/projects-edit.js" type="text/javascript" async></script>